{% extends 'base.html.twig' %}

{% block title %}Hello !{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Liste des medecins</h1>

    {% for med in medecins %}
       <li>{{med.nom}} <a href="{{ path('medecin_show', {'id' : med.id}) }}">En savoir plus</a></li>
   {% endfor %}

</div>
{% endblock %}
